/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --google-font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
    --roboto-font-family: "Roboto", sans-serif;
}

h1 {
    font-family: var(--google-font-family); /* Using Google Sans primarily */
    /* Additional styling for h1 */
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
    max-width: 100%;
    /* overflow: hidden; Prevents scrolling */
}

/* Styling the navigation bar */
.navbar {
    background-color: #fff; /* White background for visibility */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical centering of children */
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow */
}

.navbar-brand {
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
    display: flex;
    align-items: center; /* Center-align brand vertically */
    padding-left: 1em; /* Added left padding */
}


.menu {
    list-style: none;
    display: flex;
    gap: 1em;
}

.menu li {
    padding: 0 0.5em;
    display: flex;
    align-items: center;
}

.menu li a, .menu li span {
    color: #333;
    margin-right: 8px;
    font-size: 0.9em;
    text-decoration: none;
}

.material-symbols-outlined {
    font-size: 20px;
    vertical-align: middle;
}

.menu li a:hover {
    color: #007bff;
}

/* Main content area */
.coming-soon {
    display: grid;
    place-items: center;
    height: 70vh;
    text-align: center;
}

.coming-soon h1 {
    font-size: 2.5em;
}

.coming-soon p {
    margin-top: 0.2em;
}

/* Footer styling */
footer {
    background-color: #f8f9fa; /* Light grey background */
    color: #495057; /* Dark grey text */
    text-align: center;
    padding: 2em 0;
    font-family: 'Arial', sans-serif;
    font-size: 0.8em;
}

.social-icons {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    justify-content: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn.btn-social {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.btn.btn-social:hover {
    color: #007bff;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

.footer-menu li {
    margin: 0 10px; /* Spacing between items */
}

.footer-menu li a {
    text-decoration: none;
    color: #007bff; /* Primary color for links */
    transition: color 0.3s ease-in-out;
}

.footer-menu li a:hover {
    color: #0056b3; /* Darker shade for hover effect */
}

ul.menu {
    margin: 0;
}

/* Mobile menu styles */
.mobile-menu-icon {
    display: none;  /* Hidden by default */
    cursor: pointer;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensures it's above other elements */
}

/* Floating icons as background */
.floating-icon {
    position: absolute;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.1);
    transition: transform 5s ease-in-out; /* Smooth transition for movement */
}


@keyframes float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    .navbar-brand {
        padding-left: 0; /* Remove left padding for smaller screens */
    }

    .menu {
        width: 80%; /* Adjust as needed */
        max-width: 660px; /* Set a max-width that fits the W shape */
        margin: 0 auto; /* Center the menu */
        position: relative; /* Needed for absolute positioning of children */
        height: 330px; /* Adjust based on your design needs */
        overflow: hidden; /* To prevent overflow */
    }

    .menu li {
        width: 60px; /* Adjust the width of each menu item */
        text-align: center;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
    }

    ul.menu.active {
        padding: 0;
    }

    .mobile-menu-icon {
        display: block;
    }
}


/* Responsive design adjustments for small devices */
@media (max-width: 767.98px) {
    .navbar {
        flex-direction: column; /* Stack navbar items vertically */
        align-items: center; /* Center align items */
        padding: 2em; /* Adjust padding for smaller screens */
    }

    .menu {
        width: 100%; /* Full width for the dropdown menu */
        display: none; /* Initially hide the menu */
    }

    .menu.active {
        display: flex; /* Show menu when active */
        flex-direction: column;
    }

    .mobile-menu-icon {
        display: block; /* Show mobile menu icon */
    }

    .menu li a {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}

/* Responsive design adjustments for medium devices */
@media (max-width: 991.98px) {
    .coming-soon h1 {
        font-size: 2.2em;
    }

    .navbar {
        flex-direction: column; /* Stack elements vertically */
        text-align: center; /* Center align the content */
    }

    .navbar-brand {
        margin-bottom: 1em; /* Space between brand and menu */
        font-size: 0.8em;
        color: #007bff;
        font-weight: bold;
    }

    .menu {
        width: 100%; /* Full width to utilize the space */
        justify-content: center; /* Center the menu items */
    }
}

/* Responsive design adjustments for large devices */
@media (max-width: 1199.98px) {
    .coming-soon h1 {
        font-size: 2.4em;
    }
}

/* Responsive design adjustments for x-large devices */
@media (max-width: 1399.98px) {
    .coming-soon h1 {
        font-size: 2.6em;
    }
}

@media (max-width: 575px) {
    .coming-soon h1 {
        font-size: 1.8em;
    }

    .floating-icon {
        font-size: 4rem;
    }
}

/* Media query for screens between 575px and 1000px */
@media (min-width: 575px) and (max-width: 1000px) {
    .navbar {
        padding-left: 1em; /* Adjust left padding as needed */
        padding-right: 1em; /* Adjust right padding as needed */
    }
}
